@{
    ViewData["Title"] = "Главная";
}

<div>
    <div class="text-white" style="
    text-align:right;
    padding-right:80px;
        padding-top: 30px;
        font-size: 2em;
        text-shadow: 1px 0 1px black, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;">
        Лучший интернет-магазин видеокарт
    </div>
    <div class="text-white" style="        padding-left: 80px;
        text-shadow: 1px 0 1px black, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
        text-align: left;
        padding-top: 150px;
        font-size: 2em;">
        Низкие цены и высокое качество
    </div>

    <div class="text-white" style="
    text-align:right;
    padding-right:80px;
        padding-top: 30px;
        font-size: 2em;
        text-shadow: 1px 0 1px black, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;">
    Честные продавцы и высокие гарантии. 100% довольных клиентов    
    </div>
        <div class="text-white" style="        padding-left: 80px;
        text-shadow: 1px 0 1px black, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
        text-align: left;
        padding-top: 150px;
        padding-bottom: 200px;
        font-size: 2em;">
            Быстрая доставка
        </div>
        <a class="text-center btn btn-light" style="        color: black;
        font-size: 3em;
" asp-action="Index" asp-controller="tovars">Выбрать свою видеокарту</a>
    </div>
