@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white" style="padding-top:50px;">Контакты</h1>

<p class="text-white">Вcю информацию можно уточнить по телефону +375(29)2929292</p>
<p class="text-white">Самовывоз можно организовать с понедельника по субботу. С 8:30 до 20:50</p>
<p class="text-white">по адресу ул. Минская 19/28-2</p>

